<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>TesteEJB_MAVEN_01-web</display-name>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>app.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateArticleServlet</servlet-name>
        <servlet-class>app.CreateArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCommentServlet</servlet-name>
        <servlet-class>app.CreateCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListArticlesServlet</servlet-name>
        <servlet-class>app.ListArticlesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailArticleServlet</servlet-name>
        <servlet-class>app.DetailArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>app.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>app.CreateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateArticleServlet</servlet-name>
        <url-pattern>/postNewArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCommentServlet</servlet-name>
        <url-pattern>/commentArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListArticlesServlet</servlet-name>
        <url-pattern>/articles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailArticleServlet</servlet-name>
        <url-pattern>/article</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/insertNewUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
